footer {
  background-color: #1c1c1c;
  color: #b3b3b3;
  padding: 2rem 4vw;
  font-family: Arial, sans-serif;
  position: static;
  bottom: 0;
  left: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;

    .footer-links {
      display: flex;
      gap: 4vw;

      div {
        h4 {
          color: #fff;
          font-size: 1rem;
          margin-bottom: 1rem;
        }

        a {
          color: #b3b3b3;
          text-decoration: none;
          margin-bottom: 0.5rem;
          display: block;
          font-size: 0.875rem;

          &:hover {
            color: #005bb5;
          }
        }
      }
    }

    .footer-lang-copyright {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      font-size: 0.875rem;
      flex-grow: 1;

      button {
        background-color: #333;
        color: #b3b3b3;
        border: 0.1rem solid #444;
        padding: 0.5rem 1.5rem;
        cursor: pointer;

        &:hover {
          background-color: #444;
        }
      }
    }

    .copyright {
      font-size: 0.875rem;
      text-align: right;
      padding-top: 7rem;
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      padding-bottom: 0;
      font-size: 1.25rem;
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 1.5rem;
      gap: 1.5rem;

      .footer-links {
        flex-direction: row;
        gap: 2rem;
      }

      .footer-lang-copyright {
        justify-content: center;
        gap: 1rem;
      }

      .copyright {
        font-size: 0.875rem;
        text-align: center;
        padding-top: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 1rem 5vw;

    .footer-bottom {
      .footer-links {
        div {
          h4 {
            font-size: 0.875rem;
          }

          a {
            font-size: 0.75rem;
          }
        }
      }

      .footer-lang-copyright {
        gap: 1rem;
        button {
          padding: 0.5rem 1rem;
        }
      }

      .copyright {
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }
}
