@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: white;
}

a {
  text-decoration: none;
  color: $primary-color;
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
